@media screen and (max-width: 760px) {
    body, header{
        /* position: fixed; */
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;
        z-index: 1;
    }

/*--home--*/

    .home{
        flex-direction: column-reverse;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        font-size: 8vh;
        line-height: 8vh;
        text-align: center;
    }

    .whats{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    article img{
        width: 40vh;
    }

    .box-white{
        display: none;
    }

    .nav-list {
        position: absolute;
        display: flex;
        top: 0vh;
        right: 0;
        width: 60vw;
        height: 100vh;
        background: #CE298F;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li:first-child{
        margin-top: 12vh;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        border-bottom: 1px solid #b12179;
        padding: 5px 10px;
        width: 75%;
        display: flex;
        justify-content: center;
    }

    .nav-list a{
        color: #f8f8f8;
        border-radius: 0; 
        font-size: 35px;
    }

    .nav-list a:hover{
        background: none;
    }

    .mobile-menu {
        display: block;
        margin-left: 15vh;
        z-index: 1;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px) scaleX(1.25);
    background: #f8f8f8;
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px) scaleX(1.25);
    background: #f8f8f8;
  }