*{
    font-family: 'lorabold', serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(236, 236, 236);
}

/*--nav--*/

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);
    height: 10vh;
    width: 100%;
    z-index: 1;
}

.box-white{
    height: 10vh;
    width: 30vh;
}

.logo img{
    width: 15vh;
    display: block;
    float: left;
    
}

.logo:hover{
    opacity: 0.7;
}

a{
    text-decoration: none;
}

.nav-list a{
    color: #5f5f5f;
    display: block;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-left: 2vh;
}

.nav-list a:hover{
    background: #dddddd;
}

.nav-list{
    max-width: 100%;
    float: left;
}

.nav-list li{
    display: inline-block;
}

.mobile-menu{
    
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 3px;
    background: #CE298F;
    margin: 8px;
    transition: 0.3s;
    border-radius: 3px;
}

/*--nav--*/

/*--home--*/

.home{
    position: absolute;
    display: flex;
    background-color: rgb(236, 236, 236);
    flex-direction: row;
    top: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1{
    color: #5f5f5f;
    font-size: 10vh;
    line-height: 10vh;
}

span{
    color: #CE298F;
}

article img{
    width: 75vh;
    margin-top: -4vh;
}

.whats{
    margin-top: 3vh;
}

#whats{
    color: #f8f8f8;
    background-color: #CE298F;
    padding: 1vh 7vh;
    border-radius: 500vh;
    font-size: 5vh;
}

#whats:hover{
    background-color: #d43b9a;
    color: white;
}

/*--home--*/

/*--contato--*/

.contato{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    border-top: 1px solid #d6cece;
    width: 100%;
    height: 50vh;
    top: 165.1vh;
}

h2{
    font-size: 5vh;
    color: #5f5f5f;
}

.redes{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

i{
    font-size: 7vh;
    color: #5f5f5f;
}

/*--contato--*/

/*--sobre--*/

.sobre{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(223, 222, 222);
    border-top: 1px solid #d6cece;
    width: 100%;
    height: 70vh;
    top: 95vh;
}

h3{
    font-size: 5vh;
    color: #5f5f5f;
}

p{
    max-width: 70vh;
    color: #5f5f5f;
}

.perfil img{
    width: 25vh;
    border-radius: 60%;
    border: 15px solid #CE298F
}

/*--sobre--*/

/*--rodapé--*/

.footer{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    background-color: #CE298F;
    top: 220vh;
}

.white-logo img{
    width:  15vh;
}

h4{
    color:#f8f8f8;
    line-height: 15px;
}